@{
    ViewBag.Title = "Error";
}

<div style="text-align: center">
    <h2>Only MP3 files allowed !</h2>
</div>

<div style="text-align: center">
    @Html.ActionLink("Back", "Add", "Song", null, new {@class = "btn btn-default" })
</div>

